@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter_24pt-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url('/public/fonts/Inter_28pt-Bold.ttf') format('truetype');
  font-weight: 600;
}